/* Reset some default styles and add global styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /* background-color: #081b29; */
    background: url('/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.5em;
}

/* Add more styles for projects, about, and contact sections as needed */

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
